.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/RetailStoreAutomatedCashier/v17/.wsuo
.vs/RetailStoreAutomatedCashier/FileContentIndex/efc6e278-3992-4a37-b090-694637b104ef.vsidx
.vs/RetailStoreAutomatedCashier/FileContentIndex/4062bbad-77ea-4fc2-94a2-656ad5d970c2.vsidx
.vs/RetailStoreAutomatedCashier/FileContentIndex/343ddd58-dd8b-4231-bca4-b6eb143af0b3.vsidx
.vs/RetailStoreAutomatedCashier/FileContentIndex/28c0061c-8f0a-4b50-8ff1-cbe245a8d6c2.vsidx
.vs/RetailStoreAutomatedCashier/FileContentIndex/09e37d7a-6a56-4182-afa6-af8e05782e43.vsidx
.vs/ProjectSettings.json
__pycache__/main.cpython-311.pyc
__pycache__/menu_classes.cpython-311.pyc
__pycache__/menu_components.cpython-311.pyc
__pycache__/product.cpython-311.pyc
.vs/RetailStoreAutomatedCashier/FileContentIndex/4704e4ff-99ff-4a92-843c-72a61d413cd2.vsidx
.vs/RetailStoreAutomatedCashier/FileContentIndex/83bd53ff-df5d-4ab6-86be-572988231299.vsidx
*.vsidx
